@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-quantum-background text-slate-100 min-h-screen font-sans;
}

#root {
  @apply min-h-screen;
}
